<div class="container">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category %>
    <%= f.input :phone_number %>
    <%= f.submit %>
  <% end %>
    <%=link_to "Revenir", restaurant_path(@restaurant), class: "btn btn-outline-dark mt-3" %>
</div>
